<script src="./auth/login.js"></script>

<!-- css -->
<link rel="stylesheet" type="text/css" href="./auth/auth.css">

<div class="card">

    <h2 class="card-header">Log In</h2>
    <div class="card-body">
        <form action="/login" method="POST" name="loginform" onsubmit="return validateLogin();">
            <p> 
                <label for="username">Enter Username: </label>
                <input type="text" id="username" name="username" placeholder="Type in your username.">
            </p> 
            <p>
                <label for="password">Enter Password: </label>
                <input type="password" id="password" name="password" placeholder="Type in your password.">
            </p>

            <button class="btn btn-warning" type="submit">Sign Up</button>
        </form>
    </div>

</div>
