
<nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/admin/home">Beerbay Admin <i class="fas fa-beer"></i></a>
    <form class="form-inline buttons">
        <a class="button admin-beer" href="/admin/beer" id="adminBeerButton">Beer</a>
        <a class="button admin-picture" href="/admin/picture" id="adminPictureButton">Order</a>
        <a class="button admin-price" href="/admin/price" id="adminPriceButton">Price</a>
        <a class="button admin-order" href="/admin/order" id="adminOrderButton">Order</a>
        <a class="button logout" href="/logout" id="logoutButton">Log out</a>
    </form>
</nav>
