
<footer class="page-footer sticky-footer font-small">
    <div class="footer-copyright text-center"> Please drink responsibly <i class="far fa-grin-wink"></i> 
        2020 Copyright &copy; <a href="/"> Beergency.com</a>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
    "palette": {
        "popup": {
        "background": "#343c66",
        "text": "#cfcfe8"
        },
        "button": {
        "background": "#f71559"
        }
    }
    });
</script>


</body>
</html>