body {
    margin-top: 70px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #262626;
    color: white;
}

h2, h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.navbar-light {
    background-color: #C96E12;
}

.navbar-light .navbar-brand{
    color: #ffffff  !important;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: none;
    background-color: #C96E12;
    color: whitesmoke; 
}