<%- include('./header.ejs') %>
<%- include('./navbarHome.ejs') %>


<h1>Welcome to Beergency!</h1>
<h3>Find your significant beer:D</h3>
<span class="row">

  <div class="card block">
    <img class="card-img-top" src="./pic/beer3.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">You can search for specific beers.</p>
    </div>
  </div>
  <div class="card block">
    <img class="card-img-top" src="./pic/beer5.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">You can also rate beers.</p>
    </div>
  </div>

</span>


<%- include('./footer.ejs') %>