<%- include('./header.ejs') %>
<%- include('./navbarHome.ejs') %>


<h1>Welcome to Beergency!</h1>
<h3>Find your significant beer:D</h3>
<!-- <img src="../pic/beer6.jpg"> -->


<%- include('./footer.ejs') %>