<nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/home">Beerbay <i class="fas fa-beer"></i></a>
    <form class="form-inline buttons">
        <a class="button signup" href="/signup" id="signupButton">Sign Up</a>
        <a class="button login" href="/login" id="loginButton">Log in</a>
    </form>
</nav>