<%- include('../global/header.ejs') %>
<%- include('../global/navbarHome.ejs') %>

<script>
    const user = "<%= sessionUser %>";
</script>

<!-- javascript -->
<script src="./functionality/cart.js"></script>

<!-- css -->
<link rel="stylesheet" type="text/css" href="./functionality/cart.css">

<h1>CART PAGE</h1>

<table class="table table-dark beer-table">
    <thead>
      <tr>
        <th scope="col">Shop</th>
        <th scope="col">Beer</th>
        <th scope="col">Quanitity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="cart-tbody">
    
    </tbody>
</table>
<button class="btn btn-warning btn-block checkout-button">Create Order</button>
<%- include('../global/footer.ejs') %>