<%- include('../global/header.ejs') %>
<%- include('../global/navbarHome.ejs') %>

<script>
    const user = "<%= sessionUser %>";
</script>

<!-- javascript -->
<script src="./functionality/order-history.js"></script>

<!-- css -->
<link rel="stylesheet" type="text/css" href="./functionality/order-history.css">

<h1>ORDER HISTORY PAGE</h1>

<table class="table table-dark beer-table">
    <thead>
      <tr>
        <th scope="col">Shop</th>
        <th scope="col">Beer</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Quanitity</th>
        <th scope="col">Status</th>
        <th scope="col">Order ID</th>
      </tr>
    </thead>
    <tbody class="order-list">
    
    </tbody>
</table>

<%- include('../global/footer.ejs') %>