<%- include('../global/header.ejs') %>
<%- include('../global/navbarHome.ejs') %>

<script>
    const user = "<%= sessionUser %>";
</script>

<!-- javascript -->
<script src="./functionality/order-history.js"></script>

<!-- css -->
<link rel="stylesheet" type="text/css" href="./functionality/order-history.css">

<h1>ORDER HISTORY PAGE</h1>

<%- include('../global/footer.ejs') %>